header {
	background: #ff0000;
	padding: 25px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	width: 50%;
}

nav {
	position: absolute;
	top: 140px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.perguntas {
	width: 1330px;
	margin: auto 0;
	padding: 60px 0;
	margin: 0 1%;
	padding: 40px 40px;
	
}

.perguntas li {
	display: inline-block;
	text-align: center;
	width: 20%;
	vertical-align: top;
	box-sizing: border-box;
	border: 3px dashed #000000;
	border-radius: 30px;
}

 #nove {
	width: 20%; 
	height:100px;
}

#oito {
     width: 20%; 
	height:100px;


}

#sete {
    width: 20%; 
	height:100px;


}

.produtos h2 {
    font-size: 22px;
    font-weight: bold;
    color: ffff00;
}

